**/.idea
**/__pycache__
**/venv
**/venv_fedora
**/cache
**/.venv
BSLVC_sqlite.db

# MkDocs build output
site/
.cache/
assets/data/BSLVC_sqlite_.db
assets/data/BSLVC_sqlite__260318.db
assets/data/BSLVC_sqlite**.db
pages/data/umap_presets/**
