# MkDocs Configuration for BSLVC Dashboard Documentation

site_name: BSLVC Dashboard Documentation
site_description: Interactive dashboard for exploring the Bamberg Survey of Language Variation and Change
site_author: Fabian Vetter
site_url: https://vetterf.github.io/bslvc-dashboard/

# Repository
repo_name: bslvc-dashboard
repo_url: https://github.com/vetterf/bslvc-dashboard
edit_uri: edit/main/docs/

# Copyright
copyright: Copyright &copy; 2025 Fabian Vetter

# Theme Configuration
theme:
  name: material

# Navigation
nav:
  - Home: index.md
  - Documentation: documentation.md


# Extensions
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.tabbed:
      alternate_style: true
  - tables
  - toc:
      permalink: true
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

# Plugins
plugins:
  - search
  - glightbox

# Extra
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/vetterf/bslvc-dashboard
    - icon: fontawesome/solid/building-columns
      link: https://www.uni-bamberg.de/en/eng-ling/
  version:
    provider: mike

# Custom CSS (optional)
extra_css:
  - stylesheets/extra.css
